<form [formGroup]="disclosureForm">
  <label>Individual<input type="radio" value='Individual' formControlName="accountType" ></label>
  <label>Entity<input type="radio" value='Entity' formControlName="accountType"></label>
  <label>First<input type="text" formControlName="fName"></label>
  <label>Middle<input type="text" formControlName="mInitial"></label>
  <label>Last<input type="text" formControlName="lName"></label>
  <label>Email<input type="text" formControlName="email"></label>
  <label>Phone<input type="text" formControlName="phoneNum"></label>

  <button type="submit" (click)="onSubmit()">Submit</button>
  </form>


<div style="display:flex; flex-direction: column;">
  <p style="margin:15px 0 0 0;">{{ disclosureForm.value.accountType }}</p>
  <p style="margin:0;">{{ disclosureForm.value.fName }}</p>
  <p style="margin:0;">{{ disclosureForm.value.mInitial }}</p>
  <p style="margin:0;">{{ disclosureForm.value.lName }}</p>
  <p style="margin:0;">{{ disclosureForm.value.email }}</p>
  <p style="margin:0;">{{ disclosureForm.value.phoneNum }}</p>
</div>